.row.main-part {
  padding: 15px;
  background-color: #fff;
  margin: 0;
  border: 1px solid #dfe5ec;
  border-bottom: none;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.test-title {
  text-align: center;
  font-size: 1.5rem;
  color: #808182;
}

.add-btn {
  margin-top: 7px;
  padding-left: 35px;

  .add-test {
    background-image: url("btn/add.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    outline: none;

    &:hover {
      background-image: url("btn/add-hover.png");
    }
  }
}

.add-test-dropdown {
  margin-top: 0 !important;
}

.dropdown-question {
  background-color: #fff;
  border: 1px solid #dfe5ec;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.dropdown-question:after, .dropdown-question:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

}

.dropdown-question:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 12px;
  margin-left: 117px;
}

.dropdown-question:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #dfe5ec;
  border-width: 14px;
  margin-left: 115px;
}

.tests {
  .test {
    margin: 0;
    padding: 10px 0 10px 0;
    border: 1px solid #dfe5ec;
    border-bottom: none;
    background-color: #fff;

    a {
      color: #808182;

      &:hover {
        color: #194e84;
      }
    }

    &:last-child {
      border-bottom: 1px solid #dfe5ec;
    }
  }
}

.delete-test {
  background-image: url("btn/delete.png");
  padding: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &:hover {
    background-image: url("btn/delete-hover.png");
  }
}

.edit-test {
  background-image: url("btn/edit.png");
  padding: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &:hover {
    background-image: url("btn/edit-hover.png");
  }
}

.tests-number {
  color: #808182;
}